@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura un tamaño de fuente base y line-height para todo el documento */
html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Reinicia los estilos básicos del body */
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

/* Asegura que los encabezados no tengan un margen adicional */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* Elimina la decoración por defecto de los enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Reinicia listas para eliminar los estilos de viñetas y números */
ul,
ol {
  list-style: none;
}

/* Asegura que las imágenes no se salgan de su contenedor */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Elimina la apariencia predeterminada de botones y inputs */
button,
input,
textarea {
  border: none;
  background: none;
  font-family: inherit;
}

.navbar-toggler:focus {
  --bs-navbar-toggler-focus-width: 0;
  outline: none;
}

/* Asegura que los botones no muestren el borde de enfoque en navegadores más antiguos */
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

/* Elimina las decoraciones de los campos de búsqueda en Safari */
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Elimina márgenes de párrafos y otros elementos */
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Agrego margin top al main para separarlo del*/
main {
  margin-top: 65px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Paleta de Colores */
/* Background-images */
/* Clamp para manejar algunos tamaños responsivos de font-size*/
.button-primary {
  background-color: #4f2912;
  text-transform: uppercase;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.button-primary:hover {
  background-color: #915129;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  margin: 0 !important;
  width: 100%;
  --bs-navbar-padding-y: 0 !important;
  z-index: 1000;
}
.navbar .navbar-content {
  background-color: #4f2912;
  color: #fdfdfd;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  height: 65px;
  z-index: 1000;
}
@media (max-width: 991.98px) {
  .navbar .navbar-content {
    height: auto;
    min-height: 65px;
  }
}
.navbar .navbar-content .logo-desktop {
  width: 140px;
  position: absolute;
  left: 44%;
  right: 45%;
  top: 0;
  background-color: #4f2912;
  padding: 0px 20px 10px 20px;
  border-radius: 100%;
}
@media (max-width: 991.98px) {
  .navbar .navbar-content .logo-desktop {
    display: none;
  }
}
.navbar .navbar-content .logo-mobile {
  width: 75px;
  height: 75px;
  padding: 10px;
  margin-left: 0.5rem;
}
@media (min-width: 992px) {
  .navbar .navbar-content .logo-mobile {
    display: none;
  }
}
.navbar .navbar-content .burger-button {
  color: #fdfdfd;
  border: rgba(151, 151, 151, 0.3568627451) 1px solid;
}
.navbar .navbar-content .nav-item {
  width: 75px;
}
@media (max-width: 991.98px) {
  .navbar .navbar-content .nav-item {
    width: 300px;
  }
}
.navbar .navbar-content .navbar-toggler {
  margin-right: 0.5rem;
}
.navbar .navbar-content .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  filter: invert(1);
}
.navbar .navbar-content .navbar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 992px) {
  .navbar .navbar-content .navbar-items .home-link {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-content .navbar-items .logo-link {
    display: none;
  }
}
.navbar .navbar-content .navbar-items .logo-link {
  order: 0;
}
@media (min-width: 992px) {
  .navbar .navbar-content .navbar-items .logo-link {
    order: 0;
  }
}
@media (max-width: 991.98px) {
  .navbar .navbar-content .navbar-items {
    margin: 2rem auto;
    flex-direction: column;
  }
  .navbar .navbar-content .navbar-items .nav-item {
    text-align: center;
    margin: 0 auto;
  }
  .navbar .navbar-content .navbar-items .nav-item .nav-link {
    width: 300px;
    margin: 1rem auto;
  }
}
.navbar .navbar-content .navbar-items .nav-item:hover {
  color: #f0a500;
}

/* Estilos hero */
.hero {
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}
.hero .logo-hero {
  display: flex;
  height: 100%;
  width: 300px;
}
.hero .logo-hero img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.hero .title-hero {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.2rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.hero .title-hero h1 {
  color: #4f2912;
  background-color: white;
  padding: 0.6rem;
  rotate: 4deg;
  margin-bottom: 2rem;
  font-size: 1.5em !important;
}
.hero .title-hero p {
  background-color: rgba(76, 42, 20, 0.8431372549);
  padding: 0.6rem;
  rotate: -4deg;
}

.hero-faqs {
  background-image: url(../img/pasteleria-faq.jpg);
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
}
.hero-faqs h1 {
  color: #4f2912;
  background-color: white;
  padding: 0.4rem 0.7rem;
  rotate: 4deg;
  margin-bottom: 1rem;
  font-size: 1.5em !important;
}
.hero-faqs p {
  background-color: rgba(76, 42, 20, 0.8431372549);
  font-size: 1.5em !important;
  padding: 0.4rem 0.7rem;
  rotate: -4deg;
}

.hero-main {
  background-image: url("../img/torta-ricota.png");
  background-size: cover;
}

footer {
  background-color: #efa5be;
  color: #542509;
}
footer .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .logo-footer img {
  width: 100px;
  margin: 0 auto;
}
footer .logo-footer p {
  letter-spacing: 0.1rem;
}
footer a {
  text-decoration: none;
  color: #542509;
}
footer a:hover {
  color: #fdfdfd;
}
footer .rrss-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  color: #542509;
  margin-top: 1rem;
}

.sign {
  background-color: #f76377;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: #fdfdfd;
  font-size: 0.7rem;
}
.sign p {
  margin: 0;
}

main {
  background-color: #f7dec7;
  color: #542509;
  font-family: "Montserrat", sans-serif;
}

.products {
  position: relative;
  background-color: #f8d7da;
  margin-top: 4rem;
  padding: 2rem !important;
  text-align: center;
  color: #333;
  /* Pseudo-elemento para la diagonal */
}
.products::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: inherit;
  transform: skewY(-1deg);
  transform-origin: top left;
  z-index: 1;
}
.products a {
  text-decoration: none !important;
}
.products p {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px 10px;
}
.products button {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 15px 100px;
  overflow: hidden;
  color: #111;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.products button:hover {
  cursor: pointer;
  background-color: #efa5be;
  border-color: #efa5be;
  color: #111;
}
.products button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}
.products button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
.products button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
.products button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}

.rrss {
  width: 100%;
  background-image: url("../../img/background-instagram.jpg");
  background-size: cover;
}
.rrss h2 {
  filter: drop-shadow(0 1px 4px rgba(226, 248, 145, 0.5));
}
.rrss .rrss-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.6rem;
  text-decoration: none;
  color: inherit;
}
.rrss .rrss-card img {
  width: 50px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
.rrss .rrss-card a {
  text-decoration: none;
  color: inherit;
}
.rrss .rrss-card span {
  font-size: 1.3em;
  filter: drop-shadow(0 1px 4px rgba(255, 255, 255, 0.5));
}
.rrss .rrss-card:hover {
  cursor: pointer;
}
.rrss .rrss-card:hover img {
  transform: rotate(5deg) scale(1.1);
  transition: all 0.5s;
}
.rrss .rrss-card:hover span {
  transform: rotate(-5deg) scale(1.1);
  color: #542509;
  transition: all 0.5s;
}

.info {
  background-color: #f8d7da;
  font-size: 0.1rem;
  font-size: clamp(0.1rem, 1vw + 1vh, 1rem);
}
@media (min-width: 320) {
  .info {
    font-size: 0.1rem;
  }
}
@media (min-width: 992) {
  .info {
    font-size: 1rem;
  }
}
.info .info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.info .info-content .info-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}
.info .info-content .info-item .info-title {
  display: flex;
  gap: 0.3rem;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991.98px) {
  .info .info-content .info-item .info-title {
    flex-direction: column;
  }
}
.info .info-content .info-item img {
  width: 25px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .info .info-content .info-item img {
    width: 15px;
  }
}
.info .info-content .info-item:nth-child(1), .info .info-content .info-item:nth-child(2) {
  border-right: 1px solid rgba(59, 59, 59, 0.3098039216);
}

.testimony {
  background-color: #f8d7da;
}
.testimony h2 {
  text-align: center;
}
.testimony .client-box {
  background-color: #ffffff;
  position: relative;
  width: 90%;
  padding: 2rem 6rem;
  border: #efa5be 2px solid;
  box-shadow: 5px 4px 13px 0 #361c0c;
}
.testimony .client-box .client-avatar {
  width: 100px;
  position: absolute;
  left: -2.5rem;
  top: -2.5rem;
}

.about-section {
  color: #542509;
}

.faq-section {
  color: #542509;
}
.faq-section .accordion {
  max-width: 800px;
  margin: 0 auto;
  border: 0.1rem #542509 solid;
  border-radius: 0.2rem;
  filter: drop-shadow(2px 3px 10px rgba(34, 34, 34, 0.4588235294));
}
.faq-section a {
  color: #542509;
  font-style: italic;
  font-weight: 500;
}
.faq-section a:hover {
  color: #7e1596;
}

.contact-form input {
  width: 100%;
  padding: 5px 10px;
  border: #4f2912 1px solid !important;
  border-radius: 5px;
  background-color: #fff5f6;
  box-shadow: 2px 3px 12px 0 rgba(54, 28, 12, 0.5450980392);
}
.contact-form label {
  text-align: left !important;
}
.contact-form textarea {
  width: 100%;
  padding: 5px 10px;
  border: #4f2912 1px solid !important;
  border-radius: 5px;
  background-color: #fff5f6;
  box-shadow: 2px 3px 12px 0 rgba(54, 28, 12, 0.5450980392);
}

.form-button {
  width: 100%;
  display: flex;
  justify-content: end;
  filter: drop-shadow(5px 5px 5px #222);
}

.btn-submit {
  font-family: "Montserrat", sans-serif;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #4f2912;
  color: white;
  cursor: pointer;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

.products-section {
  position: relative;
  padding: 2rem !important;
  color: #542509;
}
.products-section .text-bg-primary {
  background-color: #ff0000 !important;
  font-size: 0.6rem;
}
.products-section h2 {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #542509;
}
.products-section h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-section h3 span {
  margin-right: -3rem;
  margin-left: 0.5rem;
}

/* Ajuste del contenido de la sección para evitar que se superponga con la diagonal */
.container {
  position: relative;
  z-index: 2;
}

.features {
  text-transform: uppercase;
  font-weight: 400;
}

.grid-products {
  margin: 0 auto;
  width: 100%;
}
.grid-products .product-card {
  height: 280px;
  width: 280px;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s;
}
.grid-products .product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-products .product-card .product-title {
  position: absolute;
  font-size: 1em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  background: #542509;
  color: white;
  padding: 10px 0;
  margin: 0;
}
.grid-products .product-card:hover {
  cursor: pointer;
  transition: all 0.5s;
}

.product-card {
  border: 3px solid transparent;
  border-radius: 0.4rem;
}
.product-card:hover {
  border: 3px solid #efa5be;
  width: 280px;
  overflow: hidden;
}
.product-card:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.product-card:hover ~ .product-card, .product-card:hover:not(:hover) {
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.product-card a {
  text-decoration: none !important;
  color: #542509;
}

/*# sourceMappingURL=styles.css.map */
