main{
  background-color: $bg-secondary;
  color: $brown;
  font-family: "Montserrat", sans-serif;
}

.products {
  position: relative;
  background-color: $bg-tertiary;
  margin-top: 4rem; 
  padding: 2rem !important;
  text-align: center;
  color: #333;

  /* Pseudo-elemento para la diagonal */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px; 
    background-color: inherit; 
    transform: skewY(-1deg); 
    transform-origin: top left;
    z-index: 1;
  }
  a{
    text-decoration: none !important;
  }

  p{
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px 10px;
  }

  button {
    background: transparent;
    outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 100px;
    overflow: hidden;
    color: #111; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    background-color: $bg-footer; 
    border-color: $bg-footer;
    color: #111;
  }
  
  button:before {
    content: attr(data-hover);
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
  }
  
  button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  button div {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover div {
    opacity: 0;
    transform: translate(100%, 0);
  }
  
}

.rrss{
  width: 100%;
  background-image: url('../img/background-instagram.jpg');
  background-size: cover;

  h2{
    filter: drop-shadow(0 1px 4px rgba(226, 248, 145, 0.5));
  }
  .rrss-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .6rem;
    text-decoration: none;
    color: inherit;
    
    img{
      width: 50px;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
      
    }
    
    a{
      text-decoration: none;
      color: inherit;
    }
    span{
      font-size: 1.3em;
      filter: drop-shadow(0 1px 4px rgba(255, 255, 255, 0.5));
      
    }
    
    &:hover{
      cursor: pointer;
      img{
        transform: rotate(5deg) scale(1.1);
        transition: all .5s;
      }
      span{
        transform: rotate(-5deg) scale(1.1);
        color: $brown;
        
        transition: all .5s;
      }
    }
  }
}

.info{
  background-color: $bg-tertiary;

  @include responsive-text(.1rem, 1rem, 320, 992);

  .info-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .info-item{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 10px;
      .info-title{
        display: flex;
        gap: .3rem;

        @include responsive-flex-direction-gen(row, column);
      }

      img{
        @include responsive-img(25px, 15px);
        height: 100%;
        margin: 0 auto;
      }

      &:nth-child(1),
      &:nth-child(2){
        border-right: 1px solid #3b3b3b4f;
      }
      

    }

  }
}
  
.testimony{
  background-color: $bg-tertiary;

  h2{
    text-align: center;
  }

  .client-box {
    background-color: #ffffff;
    position: relative;
    width: 90%;
    padding: 2rem 6rem;
    border: #efa5be 2px solid;
    box-shadow: 5px 4px 13px 0 #361c0c;

    .client-avatar {
      width: 100px;
      position: absolute;
      left: -2.5rem;
      top: -2.5rem;
    }
  }
}
