.navbar{
  position: fixed !important;
  top: 0 !important;
  margin: 0 !important;
  width: 100%;
  --bs-navbar-padding-y: 0 !important;
  z-index: 1000;

  .navbar-content{
    background-color: $bg-navbar;
    color: $white;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    @include responsive-height(65px, auto);

    .logo-desktop{
      width: 140px;
      position: absolute;
      left: 44%;
      right: 45%;
      top: 0;
      background-color: $bg-navbar;
      padding: 0px 20px 10px 20px;
      
      border-radius: 100%;
      @include hide-on('mobile');
    }

    .logo-mobile{
      width: 75px;
      height: 75px;
      padding: 10px;
      margin-left: .5rem;
      @include hide-on('desktop');
    }

    .burger-button{
      color: $white;
      border: $grey 1px solid;

    }

    .nav-item{
      @include responsive-width(75px, 300px);
    }

    .navbar-toggler{
      margin-right: .5rem;
    }

    .navbar-toggler-icon{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      filter: invert(1);
    }

    .navbar-items{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 0 20px;

      .home-link{
          @include hide-on('desktop')
      }

      .logo-link{
        @include hide-on('mobile')

      }

      .logo-link{
        @include order-items(0,0);
      }

      @include responsive-flex-direction(row, column);

      .nav-item:hover{
        color: $bg-button-tertiary;
      }
    
    }
  }
}
