/* Paleta de Colores */ 
$bg-primary: #fffffe;
$bg-secondary: #f7dec7;
$bg-tertiary: #f8d7da;
$bg-navbar: #4f2912;
$bg-navbar-mobile: #4f29127a;
$bg-sign: #f76377;
$bg-footer: #efa5be;
$bg-button-primary: #4f2912;
$bg-button-secondary: #915129;
$bg-button-tertiary: #f0a500;

$black: #2b2b2b;
$brown: #542509;
$white: #fdfdfd;
$grey: #9797975b;
$hover: #7e1596;


/* Background-images */
$hero-home: url('../img/torta-ricota.png');
$hero: url('../../img/pasteleria-faq.jpg');